$rs-color-black: #000000;
$rs-color-white: #ffffff;
$rs-color-blue: #228dff;

.rs-Key {
  display: inline-block;
  width: 3rem;
  height: 12rem;
  border: 1px solid $rs-color-blue;
  border-top: none;
  background-color: $rs-color-black;

  &:active {
    background-color: $rs-color-white;
    border-color: transparent;
    animation: neon 1.5s ease-in-out infinite alternate;
  }

  &-white {
    z-index: 1;

    &--left {
    }

    &--middle {
      margin-left: -1rem;
    }

    &--right {
      margin-left: -1rem;
    }
  }

  &-black {
    z-index: 2;
    width: 2rem;
    height: 8rem;
    margin-left: -1rem;
  }
}

@keyframes neon {
  from {
    box-shadow: 0 0 10px $rs-color-white, 0 0 20px $rs-color-white,
      0 0 30px $rs-color-white, 0 0 40px $rs-color-blue, 0 0 70px $rs-color-blue,
      0 0 80px $rs-color-blue, 0 0 100px $rs-color-blue,
      0 0 150px $rs-color-blue;
  }
  to {
    box-shadow: 0 0 5px $rs-color-white, 0 0 10px $rs-color-white,
      0 0 15px $rs-color-white, 0 0 20px $rs-color-blue, 0 0 35px $rs-color-blue,
      0 0 40px $rs-color-blue, 0 0 50px $rs-color-blue, 0 0 75px $rs-color-blue;
  }
}
